h2 {
    color: darkgrey;
    font-size: 50px;
    text-align: center;

}

input[type=text] {
    margin: 10px 0;
    width: 100%;
    padding: 8px  8px;


}

input[type=submit] {
    width: 100%;
    border: none;
    color: white;
    border-radius: 6px;
    padding: 12px 12px;
    background-color: YellowGreen;

}

body {
    padding: 20px;
    background-color: GhostWhite;
}